<mat-form-field appearance="outline" class="form-field">
  <mat-label>Cidade</mat-label>

  <mat-select [value]="value" [disabled]="disabled" (selectionChange)="onChange($event.value); onTouched()"
    (focus)="focused = true; stateChanges.next()" (blur)="focused = false; stateChanges.next(); onTouched()">
    <mat-option [value]="null">Selecione...</mat-option>
    @for (cidade of cidades; track cidade) {
      <mat-option [value]="cidade.id">
        {{ cidade.cidade }}
      </mat-option>
    }
  </mat-select>

  <!-- Caso queira mostrar erros do form -->
  @if (ngControl?.errors?.['required']) {
    <mat-error>
      Cidade é obrigatória
    </mat-error>
  }
</mat-form-field>