<mat-toolbar class="toolbar" color="primary">

  <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="toogler()" *ngIf="isMobile">
    <mat-icon aria-label="Side nav toggle icon" *ngIf="expanded">close</mat-icon>
    <mat-icon aria-label="Side nav toggle icon" *ngIf="!expanded">menu</mat-icon>
  </button>
  <span class="espaco"></span>
  <span>{{titulo}}</span>
  <span class="espaco"></span>
  <button mat-icon-button>
    <mat-icon>person</mat-icon>
  </button>
  <button mat-icon-button (click)="sair()">
    <mat-icon>logout</mat-icon>
  </button>
</mat-toolbar>
<mat-sidenav-container class="sidenav-container">

  <mat-sidenav [opened]="expanded" class="sidenav" mode="side">
    <mat-nav-list>
      <ng-container *ngFor="let item of menu">

        <!-- Se tiver submenu (children), usa expansion -->
        <mat-expansion-panel *ngIf="item.menuFilhos && item.menuFilhos.length; else simpleLink" class="menu-expansion">
          <mat-expansion-panel-header style="padding-left: 17px;">
            <mat-icon class="mat-icon-nav-list">{{ item.icone }}</mat-icon>
            <span *ngIf="expanded">{{ item.deMenu }}</span>
          </mat-expansion-panel-header>

          <ng-container *ngFor="let child of item.menuFilhos">
            <a mat-list-item [routerLink]="child.urlMenu">
              <mat-icon class="mat-icon-nav-list">{{ child.icone }}</mat-icon>
              <span *ngIf="expanded">{{ child.deMenu }}</span>
            </a>
          </ng-container>
        </mat-expansion-panel>

        <!-- Se NÃO tiver submenu, mostra como link direto -->
        <ng-template #simpleLink>
          <a mat-list-item [routerLink]="item.urlMenu">
            <mat-icon class="mat-icon-nav-list">{{ item.icone }}</mat-icon>
            <span *ngIf="expanded">{{ item.deMenu }}</span>
          </a>
        </ng-template>

      </ng-container>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <!-- Add Content Here -->
    <mat-card class="card">
      <div class="container">

        <router-outlet />
      </div>
    </mat-card>
  </mat-sidenav-content>
</mat-sidenav-container>