<mat-toolbar class="toolbar" color="primary">

  @if (isMobile) {
    <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="toogler()">
      @if (expanded) {
        <mat-icon aria-label="Side nav toggle icon">close</mat-icon>
      }
      @if (!expanded) {
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      }
    </button>
  }
  <span class="espaco"></span>
  <span>{{titulo}}</span>
  <span class="espaco"></span>
  <button mat-icon-button>
    <mat-icon>person</mat-icon>
  </button>
  <button mat-icon-button (click)="sair()">
    <mat-icon>logout</mat-icon>
  </button>
</mat-toolbar>
<mat-sidenav-container class="sidenav-container">

  <mat-sidenav [opened]="expanded" class="sidenav" mode="side">
    <mat-nav-list>
      @for (item of menu; track item) {
        <!-- Se tiver submenu (children), usa expansion -->
        @if (item.menuFilhos && item.menuFilhos.length) {
          <mat-expansion-panel class="menu-expansion">
            <mat-expansion-panel-header style="padding-left: 17px;">
              <mat-icon class="mat-icon-nav-list">{{ item.icone }}</mat-icon>
              @if (expanded) {
                <span>{{ item.deMenu }}</span>
              }
            </mat-expansion-panel-header>
            @for (child of item.menuFilhos; track child) {
              <a mat-list-item [routerLink]="child.urlMenu">
                <mat-icon class="mat-icon-nav-list">{{ child.icone }}</mat-icon>
                @if (expanded) {
                  <span>{{ child.deMenu }}</span>
                }
              </a>
            }
          </mat-expansion-panel>
        } @else {
          <a mat-list-item [routerLink]="item.urlMenu">
            <mat-icon class="mat-icon-nav-list">{{ item.icone }}</mat-icon>
            @if (expanded) {
              <span>{{ item.deMenu }}</span>
            }
          </a>
        }
        <!-- Se NÃO tiver submenu, mostra como link direto -->
      }
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <!-- Add Content Here -->
    <mat-card class="card">
      <div class="container">

        <router-outlet />
      </div>
    </mat-card>
  </mat-sidenav-content>
</mat-sidenav-container>