<h2 mat-dialog-title>Adicionar produto: {{data.produto.nome}}</h2>
<mat-dialog-content>
  <form [formGroup]="this.pedidoXProdutoForm">
    <mat-form-field class="form-control">
      <mat-label for="qtdProduto"> Quantidade de Produto</mat-label>
      <input type="number" formControlName="qtdProduto" matInput class="input-control">
    </mat-form-field>
    <mat-form-field class="form-control">
      <mat-label for="vlrProduto"> Valor Unitario</mat-label>
      <input type="number" formControlName="vlrProduto" matInput class="input-control">
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button [mat-dialog-close]>No Thanks</button>
  <button mat-button (click)="add()" cdkFocusInitial>Ok</button>
</mat-dialog-actions>