<mat-dialog-content>
  <div class="header">
    <h5>{{titulo}}</h5>
    <span class="space"></span>
    <button mat-icon-button [mat-dialog-close]>
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <form [formGroup]="grupoForm" (ngSubmit)="salvar()">
    <div>
      <mat-form-field class="form-control">
        <mat-label for="nome">
          Nome:
        </mat-label>
        <input type="text" matInput formControlName="nome">
      </mat-form-field>
      <mat-form-field class="form-control">
        <mat-label for="fAtivo">
          Status:
        </mat-label>
        <mat-select formControlName="fAtivo">
          <mat-option [value]="1">Ativo</mat-option>
          <mat-option [value]="0">Inativo</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="button-container">
      <button mat-raised-button [mat-dialog-close]>
        Fechar
      </button>
      <button mat-flat-button color="primary" type="submit">Salvar</button>
    </div>
  </form>
</mat-dialog-content>