<mat-dialog-content class="modal-content large">
  <div class="modal-header produtos">
    <div class="header-content">
      <!-- <mat-icon class="header-icon">search</mat-icon> -->
      <h5 class="modal-title">{{pesquisa.tituloPesquisa}}</h5>
    </div>
    <button mat-icon-button [mat-dialog-close] class="close-button">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <div>
    <form>
    </form>
  </div>
  <div class="mat-elevation-z8 table-responsivo">
    <div class="demo-button-container">

      <a mat-raised-button class="demo-button" (click)="abrirModalFiltro()">
        <mat-icon>search</mat-icon>
        Filtro
      </a>
    </div>
    <table mat-table [dataSource]="dataSource">

      <!-- Position Column -->
      @for (coluna of pesquisa.colunas; track coluna; let i = $index) {
      <ng-container [matColumnDef]="coluna">
        <th mat-header-cell *matHeaderCellDef> {{ pesquisa.nomeColunas[i] }} </th>
        <td mat-cell *matCellDef="let element"> {{ element[coluna] }} </td>
      </ng-container>
      }

      <!-- Header e linhas -->
      <tr mat-header-row *matHeaderRowDef="pesquisa.colunas"></tr>
      <tr mat-row *matRowDef="let row; columns: pesquisa.colunas;" (click)="closeDialog(row)"></tr>
      <mat-paginator [pageSizeOptions]="[10, 20, 50]" [length]="paginacao.totalRegistros"
        [pageSize]="paginacao.tamanhoPagina" [pageIndex]="paginacao.paginaAtual - 1" showFirstLastButtons
        aria-label="Select page of periodic elements">
      </mat-paginator>
    </table>
  </div>
</mat-dialog-content>