/* .form-control{
  margin: 5px;
  width: 12vw;

}
@media(max-width: 770px){
  .form-control{
    width:60vw;
  }
}
.space{
  flex:1 1 auto;
}
.header{
  display: flex;
}
.button-container{
  display: flex;
  margin-left: 5px;
  float: right;
} */
.modal-header.produtos {
  background: #3b7eb9 !important;
  background: linear-gradient(135deg, #3b7eb9 0%, #2c5aa0 100%) !important;
}
