<mat-form-field appearance="outline" class="form-field">
  <mat-label>Estado</mat-label>

  <mat-select [value]="value" [disabled]="disabled" (selectionChange)="onChange($event.value); onTouched()"
    (focus)="focused = true; stateChanges.next()" (blur)="focused = false; stateChanges.next(); onTouched()">
    <mat-option [value]="null">Selecione o estado</mat-option>

    @for (estado of estados; track estado) {
      <mat-option [value]="estado.id">
        {{ estado.estado }} ({{ estado.sigla }})
      </mat-option>
    }
  </mat-select>

  <!-- Exemplo de erro (opcional) -->
  @if (ngControl?.errors?.['required']) {
    <mat-error>
      Estado é obrigatório
    </mat-error>
  }
</mat-form-field>