
.loader-overlay {
  position: fixed !important;
  inset: 0;                     /* top:0; left:0; right:0; bottom:0; mais moderno */
  width: 100vw !important;
  height: 100vh !important;
  background-color: rgba(0, 0, 0, 0.4) !important;
  backdrop-filter: blur(5px) !important;
  -webkit-backdrop-filter: blur(5px) !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;

  z-index: 999999 !important;   /* valor bem alto */
  pointer-events: auto !important;   /* permite cliques se quiser cancelar algo */
}

      .spinner {
        width: 40px;
        height: 40px;
        border: 4px solid #f3f3f3;
        border-top: 4px solid #3498db;
        border-radius: 50%;
        animation: spin 1s linear infinite;
      }

      @keyframes spin {
        0% {
          transform: rotate(0deg);
        }
        100% {
          transform: rotate(360deg);
        }
      }
