/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
table {
  width: 100%;
}
.table-responsivo{
  overflow-x: auto;
  max-width: 100%;
  display: block;
}
.table-container {
  background: white;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}
.demo-table {
  width: 100%;
}

.demo-button-container {
  padding-bottom: 16px;
}

.demo-button + .demo-button {
  margin-left: 8px;
}
.sticky-column {
  position: sticky;
  left: 0;
  z-index: 1; /* coloca acima das outras colunas */
}
.btn-container{
  display: flex;
  gap: 8px;
  align-items: center;
}
.status-ativo {
  color: green;
}
.status-inativo {
  color: red;
}
.form-control{
  margin: 5px;
  width: 12vw;

}
.md-large{
        width: 60% !important;
      max-width: 200vh !important;
}
.md-medium{
     width: '90vw';
      max-width: '800px';
      max-height: '90vh';
}
.md-small{
  width: 20% !important;
  max-width: 100vw !important;
}
.space{
  flex:1 1 auto;
}
.header{
  display: flex;
}
.mat-mdc-row:hover {
  background-color: #f5f5f5;
}
.div-btn-modal {
  display: flex;
  justify-content: flex-end;
  gap:10px;
}
.ativo{
  color: green;
  /* font-weight: bold; */
}
.inativo{
  color: red;
  /* font-weight: bold; */
}

* {
  scrollbar-width: thin;
  scrollbar-color: #9e9e9e #3b7eb9;
}

/* Chrome, Edge, Safari */
*::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

*::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 8px;
}

*::-webkit-scrollbar-thumb {
  background-color: transparent;
  border-radius: 8px;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: transparent;
}
