<button mat-raised-button class="btn-Voltar" routerLink="/Pedido">
  <mat-icon>arrow_back</mat-icon>
  Voltar
</button>
<button mat-raised-button class="btn-Voltar" (click)="abrirModalPesquisProduto()">
  <mat-icon>search</mat-icon>
  Filtrar Produto
</button>
<form [formGroup]="pedidoForm" (ngSubmit)="salvarPedido()" class="form-group">
  <div class="container-form">
    <mat-form-field class="form-control">
      <mat-label for="cliente">Cliente</mat-label>
      <mat-select formControlName="cliente">
        <mat-option *ngFor="let item of cliente" [value]="item">
          {{item.nome}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="form-control">
      <mat-label>Tipo Cliente</mat-label>
      <input matInput [readonly]="true">
    </mat-form-field>
    <mat-form-field class="form-control">
      <mat-label>CPF / CNPJ</mat-label>
      <input matInput [readonly]="true">
    </mat-form-field>
    <mat-form-field class="form-control">
      <mat-label>Total do Pedido</mat-label>
      <input matInput [readonly]="true">
    </mat-form-field>
  </div>
  <div class="container-table">


    <div class="mat-elevation-z8 table-responsivo">
      <h6>Produto</h6>
      <table mat-table [dataSource]="produtos" class="table">
        <ng-container matColumnDef="btnAcao">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let element">
            <button mat-icon-button style="color: green;" title="Adicionar produto"
              (click)="addProdutoXPedido(element)">
              <mat-icon>add</mat-icon>
            </button>
          </td>
        </ng-container>
        <!-- Position Column -->
        <ng-container matColumnDef="nome">
          <th mat-header-cell *matHeaderCellDef> Nome</th>
          <td mat-cell *matCellDef="let element"> {{element.nome}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="tipoProduto">
          <th mat-header-cell *matHeaderCellDef> Tipo Produto </th>
          <td mat-cell *matCellDef="let element"> {{element.tipoProduto}} </td>
        </ng-container>
        <!-- Symbol Column -->
        <ng-container matColumnDef="marca">
          <th mat-header-cell *matHeaderCellDef> Marca </th>
          <td mat-cell *matCellDef="let element"> {{element.marca}} </td>
        </ng-container>

        <ng-container matColumnDef="qtd">
          <th mat-header-cell *matHeaderCellDef> Quantidade em Estoque</th>
          <td mat-cell *matCellDef="let element"> {{element.qtd}} </td>
        </ng-container>
        <ng-container matColumnDef="vlrProduto">
          <th mat-header-cell *matHeaderCellDef> Valor do Produto </th>
          <td mat-cell *matCellDef="let element"> {{element.vlrProduto}} </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>

      <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons aria-label="Select page of periodic elements">
      </mat-paginator>
    </div>
    <div class="mat-elevation-z8 table-responsivo">
      <h6>Pedido</h6>
      <table mat-table [dataSource]="pedidoXProduto">
        <ng-container matColumnDef="btnAcao">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let element">
            <button mat-icon-button color="warn" title="Remover Produto" (click)="removerProdutoXPedido(element)">
              <mat-icon>remove</mat-icon>
            </button>
          </td>
        </ng-container>
        <!-- Position Column -->
        <ng-container matColumnDef="nome">
          <th mat-header-cell *matHeaderCellDef> Nome</th>
          <td mat-cell *matCellDef="let element"> {{element.produto.nome}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="tipoProduto">
          <th mat-header-cell *matHeaderCellDef> Tipo Produto </th>
          <td mat-cell *matCellDef="let element"> {{element.produto.tipoProduto}} </td>
        </ng-container>
        <!-- Symbol Column -->
        <ng-container matColumnDef="marca">
          <th mat-header-cell *matHeaderCellDef> Marca </th>
          <td mat-cell *matCellDef="let element"> {{element.produto.marca}} </td>
        </ng-container>

        <ng-container matColumnDef="qtd">
          <th mat-header-cell *matHeaderCellDef> Quantidade no Pedido </th>
          <td mat-cell *matCellDef="let element"> {{element.qtdProduto}} </td>
        </ng-container>
        <ng-container matColumnDef="vlrProduto">
          <th mat-header-cell *matHeaderCellDef> Valor Unitario </th>
          <td mat-cell *matCellDef="let element"> {{element.vlrProduto}} </td>
        </ng-container>
        <ng-container matColumnDef="vlrTotal">
          <th mat-header-cell *matHeaderCellDef> Valor Total </th>
          <td mat-cell *matCellDef="let element"> {{element.vlrProduto * element.qtdProduto}} </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumnsPedidoXProduto"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumnsPedidoXProduto;"></tr>
      </table>

      <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons aria-label="Select page of periodic elements">
      </mat-paginator>

    </div>
  </div>
  <div>
    <button mat-flat-button type="submit" [disabled]="!pedidoForm.valid" color="primary"> Salvar</button>
  </div>
</form>